<h1>ABOUT</h1>
<div class="a">
<p> &nbsp;&nbsp;&nbsp;&nbsp;A farmer (also called an agriculturer) is a person engaged in agriculture, <br>
    raising living organisms for food or raw materials.The term usually applies to people who do some <br>
    combination of raising field crops, orchards, vineyards, poultry, or other livestock. A farmer might <br>
    own the farmed land or might work as a laborer on land owned by others, but in advanced economies, <br> 
    a farmer is usually a farm owner, while employees of the farm are known as farm workers, or farmhands.<br> 
    However, in the not so distant past, a farmer was a person who promotes or improves the growth of <br>
    (a plant, crop, etc.) by labor and attention, land or crops or raises animals (as livestock or fish).
    <br><br><img src="./assets/abt.jpeg" width="400" height="200" alt="Natural" >
   <br><br> &nbsp;&nbsp;&nbsp;&nbsp;Over 1/2 billion farmers are smallholders, most of whom are in developing <br>
   countries, and who economically support almost two billion people. Globally, women constitute more than 40% <br>
   of agricultural employees.</p>
</div>

