<marquee behavior="slide" direction="left">
    <img src="//www.html.am/images/html-codes/marquees/fish-swimming.gif" alt="Swimming fish"><p><b>WELCOME</b></p>
    </marquee>
      <br>
      <marquee behavior="scroll" direction="left">
        <img src="./assets/home-img/F9.jpg" width="120" height="80" alt="Natural" >
        <img src="./assets/home-img/F1.jpeg" width="120" height="80" alt="Natural" >
        <img src="./assets/home-img/F10.webp" width="120" height="80" alt="Natural" >
        <img src="./assets/home-img/F11.jpg" width="120" height="80" alt="Natural" >
        <img src="./assets/home-img/F12.jpg" width="120" height="80" alt="Natural" >
        <img src="./assets/home-img/F2.jpg" width="120" height="80" alt="Natural" >
        <img src="./assets/home-img/F13.jpg" width="120" height="80" alt="Natural" >
        <img src="./assets/home-img/F8.jpeg" width="120" height="80" alt="Natural" >
        <img src="./assets/home-img/F14.jpg" width="120" height="80" alt="Natural" >  
    </marquee>
<br>
<h1>FARMER'S DON'T NEED OUR SYMPATHY THEY NEED OUR RESPECT</h1>
<h1>AND WE OWE THEM THAT RESPECT.</h1> 
<br>
<marquee behavior="slide" direction="right">
    <img src="//www.html.am/images/html-codes/marquees/fish-swimming.gif" alt="Swimming fish"><p><b>THANKYOU</b></p>
    </marquee>
